:root{
    --primary: #90EE90;
    --secondary: #ee9090;
    --background: #141219;
  }

.details-container {
    position: absolute;
    z-index: -1;
    width: 100vw;
    background-color: #141219;
    padding: 10% 5% 5% 5%;
}


.name {
    font-size: 10vh;
}

.view-movie-button {
    background-color: #141219;
    color: rgba(255, 255, 255, 0.9);
    border: 1px solid #fff;
    transition: 0.2s;
    cursor: pointer;
    border-radius: 2px;
}

.view-movie-button:hover {
    background-color: #141219;
    opacity: 0.9;
    border-color: #90EE90;
}

.movies-container {
    padding-top: 5%
}

.movie-cards {
    display: flex;
    padding: 3% 0;
}

.movie-cards :first-child {
    padding-left: 0;
}

