:root{
    --primary: #90EE90;
    --secondary: #ee9090;
    --background: #141219;
  }

.profile-outer-container {
    color: #fff;
    justify-self: center;
    width: 50%;
    margin: 0 auto;
    height: 100vh;
    
}

.profile-inner-container{ 
    display: flex;
    border-bottom: 1px solid gray;
    flex-direction: row;
    justify-content: space-between; 
}

.profile-outer-container h1 {
    font-weight: bolder;
}

.account-details-container {
    background-color: #141219;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: 100;
    margin-bottom: 5%;
}

.profile-bottom-border {
    border: none;
}

.account-details-title {
    border-radius: 5px;
    background-color: #332f3e;
    color: gray;
}

.favorite-movies-container {
    border-radius: 5px;
    background-color: #141219;
    color: gray;
    margin-bottom: 10%;
}

.delete-user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid gray;
}

.delete-user {
    color: #0096FF;
    transition: 0.5s;
    text-align: center;

}

.delete-user:hover {
    color: #8ecffe;
    cursor: pointer;
}

.delete-movie {
    width: 15%;
}
.delete-movie:hover {
    color: var(--primary);
    cursor: pointer;
}

.change-view-input {
    width: 30%;
    /* background-color: rgba(20, 18, 25, 0.1); */
    opacity: 0.3;
    margin-bottom: 5%;
 
}

.update-msg {
    color: #90EE90;
}

.edit-icon {
    font-size: 1.5vw;
    transition: 0.5s;
    padding: 1% 3%;
    color: rgb(144, 238, 144)
}

.edit-icon:hover {
    cursor: pointer;
    font-size: 1.8vw;
    color: rgb(144, 238, 144, 0.5);
}

.favorite-movies {
    color: #fff;
    padding-left: 5%;
    
}

.change-view {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.change-view-form div{
    background-color: #141219;
    border-radius: 5px;
    padding: 3%;
}

.current-info, .new-info {
    font-size: 1.4vw;
    margin: 0;
    padding-top: 1% ;
}

.change-view-form label{
    padding-top: 5%;
    margin: 0;
    font-size: 0.8vw;
    text-transform: uppercase;
}

.profile-view-button {
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.5;
    border: 1px solid #fff;
    transition: 0.2s;
    margin-right: 5%;
}
.profile-view-button:hover {
    background-color: #141219;
    opacity: 0.9;
    border-color: #90EE90;
}



.favorite-movies-container .profile-view-button {
    margin: 5% 0 5% 5%;
}

.main-view-button {
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #fff;
    transition: 0.2s;
    margin-right: 5%;
    margin-top: 10%;
}

.main-view-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: #90EE90;
    font-color: #fff;
    
}


.birthday-input {
    width: 80%;
}

.info-padding {
    padding-left: 5%;
}

.account-details-title p {
    padding-left: 2%;
}